*.class

*.xcuserstate

*.DS_Store

*.xcbkptlist

Documents/~*.*

Documents/*.~ml

Codes/iOS/RenHai/RenHai.xcworkspace/xcuserdata/*.*

Codes/iOS/RenHai/Pods/Pods.xcodeproj/xcuserdata/*.*

Codes/Server/build/*.*

Codes/Server/build/classes/*.*


Codes/Server/.settings/org.eclipse.core.resources.prefs
