<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplelife.renhai.android"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
   	<uses-feature android:name="android.hardware.camera" />
   	<uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/renhai_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.simplelife.renhai.android.RenHaiSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simplelife.renhai.android.RenHaiLoadingActivity"
            android:label="@string/protocal_title"
            android:theme="@style/ActionBarWithOnlyTitleTheme"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="com.simplelife.renhai.android.RenHaiProtocalActivity"
            android:label="@string/protocal_title"
            android:theme="@style/ActionBarWithOnlyTitleTheme"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.simplelife.renhai.android.RenHaiIntroduceActivity"
            android:theme="@style/ActionBarWithOnlyTitleTheme"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.simplelife.renhai.android.RenHaiMainPageActivity"
            android:theme="@style/Theme.Actionbarwithtabstheme"
            android:screenOrientation="portrait" >                       
        </activity>
        <activity
            android:name="com.simplelife.renhai.android.RenHaiWaitForMatchActivity"
            android:theme="@style/Theme.Actionbarwithtabstheme"
            android:screenOrientation="portrait" >                       
        </activity>
        <activity
            android:name="com.simplelife.renhai.android.RenHaiMatchingActivity"
            android:theme="@style/Theme.Actionbarwithtabstheme"
            android:screenOrientation="portrait" >                       
        </activity>
        <activity
            	android:name="com.simplelife.renhai.android.RenHaiVideoTalkActivity"
            	android:configChanges="orientation|keyboardHidden|screenSize"
            	>
            	<intent-filter>
                	<action android:name="com.simplelife.renhai.android.RenHaiVideoTalkActivity" />
                	<category android:name="android.intent.category.DEFAULT" />
            	</intent-filter>
        </activity>
        <activity
            android:name="com.simplelife.renhai.android.RenHaiAssessActivity"
            android:theme="@style/Theme.Actionbarwithtabstheme"
            android:screenOrientation="portrait" >                       
        </activity>
        <activity
            android:name="com.simplelife.renhai.android.RenHaiConfigActivity"
            android:theme="@style/Theme.Actionbarwithtabstheme2"
            android:screenOrientation="portrait" >                       
        </activity>
        <activity
            android:name="com.simplelife.renhai.android.RenHaiAboutActivity"
            android:theme="@style/Theme.Actionbarwithtabstheme2"
            android:screenOrientation="portrait" >                       
        </activity>
        <activity
            android:name="com.simplelife.renhai.android.RenHaiFeedBackActivity"
            android:theme="@style/Theme.Actionbarwithtabstheme2"
            android:screenOrientation="portrait" >                       
        </activity>
    </application>

</manifest>
